%h1 Liste de Produit

%p
  - Product.all.each do |a|
    %br
      Product :
      = a.id
      = a.title
      = a.category
      = a.description
      = a.prix



%p
  Retourner à
  = link_to 'Accueil', '/'
